
    <main class="flex-fill">
        <div class="container">
      <div class="row g-3">
        <div class="col-12 col-sm-6">
            <div class="imgProduto">
            <img src="/imgs/{{Produto.T_Imagem}}" alt="" class="img-thumbnail">
            </div>
            <br class="clearfix">
            </div>
            <div class="col-12 col-sm-6">
                <input type="hidden">
                <h1>{{Produto.T_Nome_Produto}}</h1>
                <p>
                  {{Produto.T_Descricao_Produto}}
                </p>
                
                <p>
                    <button class="btn btn-lg btn-danger mb0-3 mb-xl-0 ">Fale com o fornencedor</button>
                </p>
            </div>
            <div class="col-12 col-sm-6">

            <div class="row my-3 gx-3">
                <h2 class="text-break">Produtos relacionados</h2>
                {{#each ProdsCateg}}
                <div class="col-3">
                    <a href="/Produto/detalhes/{{N_id_Produto}}">
                    <img src="/imgs/{{T_Imagem}}" alt="" class="img-thumbnail">
                    </a>
                </div>
               {{/each}}
            </div>

        </div>
      </div>
    </div>
    </main>